#PageContainer
{
  width:50%;
  margin:auto;
}

#PageContainer>h1
{ 
  text-align:center;
}

h2
{ 
  margin-top:20px;
  margin-bottom:0px;
}

.lastUpdatedTime
{ 
  font-size:smaller;
}

.sparkline
{
  display:none;
}